@tailwind base;
@tailwind components;
@tailwind utilities;



html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

}

html,
body {
  padding: 0;
  margin: 0;
  @apply bg-slate-50
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
